.checkbox {
    width: 52px;
    height: 32px;
    padding: 4px;

    display: flex;
    align-items: center;
    background-color: #49453f;
    
    border-radius: 24px;
    border: solid 2px #938f99;

    transition: 
        border-color 200ms, background-color 200ms;

    cursor: pointer;
}

.checkbox::before {
    content: "";
    display: inline-block;

    width: 16px;
    height: 16px;
    border-radius: 12px;

    background-color: #938f99;

    transition: 
        width 200ms, height 200ms,
        transform 200ms, background-color 200ms;
}

.checkbox.on {
    border-color: #D0BCFF;
    background-color: #D0BCFF;
}

.checkbox.on::before {
    background-color: #381E72;
    width: 24px;
    height: 24px;
    transform: translateX(18px);
}